/* .dashboard_container {
} */

.nav_container {
  
  background-color: #4d4d4d;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav_container_left {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #0d6efd;
}

.nav_container_left > h1 {
  font-size: 40px;
}

.nav_container_right {
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
