@import "~bootstrap/dist/css/bootstrap.min.css";
/* html,
body {
} */

/* #b5b5b5 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #7a7a7a;
}

h1 {
  font-size: 40px;
}

h2 {
  margin: 0;
}

button {
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 20px;
}
input {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
}
select {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
}
textarea {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
}

tr td {
  vertical-align: middle;
}

.icon_and_text {
  display: flex;
  gap: 5px;
  align-items: center;
}
