.map_container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding-top: 50px;
	gap: 200px;
  }
  

.devices_container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 400px;
}

.devices_container_device {
	border: 1px solid black;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 5px;
}

.red_text {
	color: red;
	font-weight: bold;
}

.batteryGOOD {
	background: white;
}
.batteryOK {
	background: yellow;
}
.batteryBAD {
	background: red;
}